#box-1 {
  border: 1px solid orange;
  border-radius: 5px;
  background-color: lightsalmon;
  margin: 20px;
  padding: 50px;
}
#box-2 {
  border: 1px solid orange;
  border-radius: 5px;
  background-color: lightsalmon;
  margin: 20px;
  padding: 50px;
}
#box-3 {
  border: 1px solid orange;
  border-radius: 5px;
  background-color: lightsalmon;
  margin: 20px;
  padding: 50px;
}
